*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p, hr {
	margin: 0 0 1em;
}
.c1, .c3, .c5, .c6, .c8 {
	display: inline-block;
	width: 1.1875em;
	height: 1.1875em;
	vertical-align: baseline;
	position: relative;
	top: 0.25em;
}
.c1 {
	background: url(img/icon-down.svg);
}
.c1:hover {
	background: url(img/icon-down-hover.svg);
}
.c3 {
	background: url(img/icon-up.svg);
}
.c3:hover {
	background: url(img/icon-up-hover.svg);
}
.c5 {
	background: url(img/icon-check-off.svg);
}
.c6 {
	background: url(img/icon-check-mid.svg);
}
.c6:hover {
	background: url(img/icon-check-mid-hover.svg);
}
.c8 {
	background: url(img/icon-check-on.svg);
}
.c8:hover {
	background: url(img/icon-check-on-hover.svg);
}
