<div class="page--home">
	<h1>Home</h1>
	<template v-if="dataLoading">
		<p>Please wait, loading data...</p>
	</template>
	<template v-else-if="dataError">
		<p v-text="getErrorMessage(dataError)"></p>
		<p v-if="dataError.error && dataError.error.message" v-text="dataError.error.message"></p>
		<pre v-if="'object' === typeof usersError" v-text="JSON.stringify(dataError, null, 2)" style="/*display: none;*/"></pre>
	</template>
	<template v-else-if="dataLista">
		<app--hiplatform--lista
			class="root-lista"
			v-bind:lista="dataLista"
			v-on:item-click="onDataItemClick"
			preKey="_"
		/>
	</template>
	<template v-else>
		<p>Data not loaded.</p>
		<p><a href="javascript:;" v-on:click="dataLoad">Click here to load the data</a></p>
	</template>
</div>
